*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .container {
    width: 100%;
    height: auto;
    background: linear-gradient(223deg, #393 0%, #006300 100%);
    display: flex;
    }

    .litleMan {
        max-width: 40%;
        max-height: 40%;
        margin: 27px 0 27px 0;
    }
    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 10%;
    }

    .text {
        width: 100%;
        margin-bottom: 5% ;
    }

    .text p {
        color: #FFF;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
        line-height: 0.72em;
        letter-spacing: 2.7px;
    }

    p span {
        width: 100%;
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 2.7px;
    }

    @media (max-width: 1024px) {
    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 2%;
        
    }
    .text p {
        font-size: 70px;
        line-height: 0.9em;
    }
    p span {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 135%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .litleMan {
        width: 60%;
        height: auto;
        margin-bottom: -5%;
        
    }
    .wrapper{
        justify-content: center;
        align-items: center;
    }
    .text p {
        font-size: 50px;
        line-height: 1em;
        margin-left: 30%;
    }
    p span {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .container{
        width: 130%;
        height: auto;
    }
    .litleMan {
        margin-left: -30%;
        margin-bottom: -5%;
        
    }
    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    .text p {
        font-size: 40px;
        line-height: 1.2em;
        margin-left: 10%;
    }
    p span {
        font-size: 20px;
    }
}