*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:auto; 
}

.wrapper{
    width: 100%;
    display: flex;
    margin-bottom: 20px;  
}

h2{
    color: #000;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.2px;
    padding-left: 10px;

}

.category:hover,
.category:focus {
transform: scale(1.01);
transition-duration: 500ms;
cursor: pointer;
}
.category{
    width: 120px;
    height: 30px;
    margin-top: 15px;
    margin-left: 90px;
    border: 2px solid rgba(139, 139, 139, 1);
}

.text{
    width: 108px;
    height: 16px;
    padding-top: 4%;
    padding-left: 6%;
    text-align: center;
    font-family: Montserrat;
    color: rgba(139, 139, 139, 1) ;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.36px;
}

@media (max-width: 1024px) {
    
    .category {
        margin-left: 10%; 
        margin-right: auto;
        margin-top: 3%; 
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px; 
    }
    .text {
        font-size: 10px; 
        padding-top: 2%;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 24px; 
        margin-left: 5%;
    }
    .category{
    margin-left: 10%;

}

    .text {
        font-size: 8px; 
    }
}