*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.categoriesWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

@media screen and (min-width: 768px) {
    .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 44px 56px;
}
}

@media screen and (min-width: 1440px) {
    .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
}