*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-top: -5%;
}

.contactUs {
  width: 50%;
  height: auto;
  display: block;
}

.titleContact {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 5%;
}

.phone {
  width: 120%;
  color: #000;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.socialMedia {
  width: 30%;
  height: auto;
  margin-top: 5%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
}

.icon {
  width: 25%;
  height: auto;
  display: block;
  gap: 5%;
}

.contactLogo {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

li a {
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.ourAddress {
  width: 50%;
  margin-left: 10%;
  margin-right: -10%;
  display: block;

}
.titleAddress{
  margin-bottom: 5%;
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; 
}
.address:hover,
.address:focus {
  transform: scale(1.1);
  transition-duration: 500ms;
  cursor: pointer;
}
.address {
  width: 100%;
  height: 100%;
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-decoration-line: underline;
}

.workingTime {
  margin-top: 20px;
}

.info {
  width: 100%;
  height: auto;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.time {
  width: 100%;
  height: auto;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  .contactUs {
    width: 100%;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .phone {
    width: 60%;
    font-size: 40px;
  }

  .socialMedia {
    width: 20%;
    margin-left: 3%;
    gap: 20%;
}
  

  .icon {
    width: 90%;
  }

  .contactLogo {
    width: 90%;
    height: 90%;
  }

  li a {
    font-size: 10px;
  }

  .ourAddress {
    margin-top: 5%;
    margin-left: -55%; 
  }
  .workingTime {
  margin-top: 5%;
  margin-left: -2%;
}
}

@media (max-width: 767px) {
  .container {
    padding: 10px; 
  }

  .title {
    font-size: 20px;
    margin-bottom: 20px; 
  }

  .phone {
    font-size: 100%;
  }
.socialMedia {
    width: 20%;
    margin-left: 3%;
    gap: 20%;
}
  .address {
    font-size: 20px;
  }

  .info {
    font-size: 10px;
  }

  .time {
    font-size: 18px;
  }
  .ourAddress {
    margin-top: 5%;
    margin-left: -55%; 
  }
  .workingTime {
  margin-top: 10%;
  margin-left: -5%;
}
}

@media (max-width: 300px) {
  .container {
    padding: 10px; 
  }

  .title {
    font-size: 20px;
    margin-bottom: 20px; 
  }
.socialMedia {
    width: 20%;
    margin-left: 5%;
    gap: 20%;
}
  .phone {
    font-size: 20px;
  }

  .address {
    font-size: 20px;
  }

  .info {
    font-size: 10px;
  }

  .time {
    font-size: 8px;
  }
  .ourAddress {
    margin-top: 5%;
    margin-left: -55%;
  }
  .workingTime {
  margin-top: 15%;
  margin-left: -5%;
}
}