.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}

@media (max-width: 1024px) {
    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}


@media (max-width: 767px) {
    .products {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}