.container{
    width: 96%;
    height: 476px;
}

.title{
    color: #000;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.2px
}