.title{
    margin-top: 40px;
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 1.2px;
}

.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
h2 {
font-size: 30px;
line-height: 120%;
}

.products {
    justify-content: center;
    margin-top: 10px;
}
}