* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 96%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

h2 {
    color: #3A3A3A;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 1.08px;
    margin-bottom: 40px;
}

.wrapper {
    width: 86%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    max-width: 85%;
    max-height: 85%;
    margin-right: 3%;
}

.descriptionPrice {
    width: 500px;
}


.pricePart {
    width: 300px;
    display:inline-flex; 
    margin-bottom: -100px;
    margin-left: 10%;

}
.numberSymbl{
    width: 100%;
    display: flex;
}
.price {
    color: #000;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-left: -15%;
}
.dollar{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin-top: 50px;
}
.discount {
    color: #8B8B8B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: strikethrough;
    margin-top: 18%;
    margin-left: 15%;
}

.percent {
    color: #FF32A1;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.84px;
    margin-top: 15%;
    margin-left: 10%;
    
    
}
.button:hover,
.button:focus {
transform: scale(1.1);
transition-duration: 500ms;
cursor: pointer;
}
.button {
    width: 341px;
    height: 86px;
    border-radius: 10px;
    border: 2px solid #393;
    background: #393;
    display: inline-flex;
    padding: 25px 120px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin: 5% 0 10% 0;
}

.descriptionPart {
    width: 380px;
    height: auto;
    border-top: dotted;
    border-color: #C0C0C0;;
    
}

.titleDes {
    width: 300px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
}

.description {
    width: 380px;
    height: auto;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.6px;
}


@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        max-width: 100%;
        max-height: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .descriptionPrice {
        width: 50%;
    }

    .pricePart {
        width: 100%;
        display: inline-flex;
    }

    .price {
        font-size: 50px;
        margin-top: 5%;
    }
    .dollar{
        margin-top: 25%;
    }
    .discount {
        margin-top: 15%;

    }
    .percent{
        margin-top: 13%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .button {
        width: 100%;
        padding: 25px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .descriptionPart {
        width: 100%;
    }

    .titleDes {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}


@media (max-width: 480px) {
    h2 {
        font-size: 24px;
    }

    .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        max-width: 100%;
        max-height: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .descriptionPrice {
        width: 100%;
    }

    .pricePart {
        width: 100%;
        display: inline-flex;
    }

    .price {
        font-size: 40px;
        margin-top: 5%;
    }
    .dollar{
        margin-left: 3%;
    }

    .discount {
        margin-top: 8%;

    }
    .percent{
        margin-top: 6%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .button {
        width: 100%;
        padding: 20px;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .descriptionPart {
        width: 100%;
    }

    .titleDes {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}