.products{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .productsContainer {
        width: 100%;
        height: auto;
        margin-left: -90px;
    

    }
    .productsContainer > * {
        flex-basis: calc(80% - 50px);
        margin-bottom: 44px;
    }
}


@media screen and (max-width: 1440px) {
    .productsContainer > *{
        flex-basis: calc(25% - 112px);
        margin-bottom: 56px;
    }
}




