*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.price{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 5%;
}
.price label{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 0.6px;
}
.inputForom{
    width: 103px;
    height: 42px;
    border-radius: 7px;
    border: 1px solid #000;
    color: #ACACAC;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    letter-spacing: 0.48px;
    padding-left: 8px;
}

.isActive {
    color: #000; 
}



.sorted{
    width: 100%;
    height: auto;
    margin-left: 10%;   
}

.sortText{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 0.6px;
    margin-right: 20px;
}
.sorted select{
    width: 219px;
    height: 40px;
    margin-left: 20px;
    border-radius: 7px;
    border: 1px solid #000;
    color: #ACACAC;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    letter-spacing: 0.48px;
    padding-left: 8px;
}
.option{
    margin-left: 20px;
    color: #797979;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    letter-spacing: 0.48px;
}


@media (max-width: 1024px) {
    .container {
        flex-direction: column; 
        align-items: flex-start; 
    }
    
    .price {
        width: 50%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
    
    .sorted {
        width: 100%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
    
    .sortText {
        margin-right: 0; 
    }
}


@media (max-width: 768px) {
    .price {
        width: 50%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
    
    
    .sorted {
        width: 100%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
    
    .sortText {
        margin-right: 0; 
    }
}


@media (max-width: 400px) {
    .price {
        width: 25%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
    
    .sorted {
        width: 50%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
    
    .sortText {
        margin-right: 0; 
    }
}