*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.title {
    color: #000;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.2px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .title {
        font-size: 36px;
        line-height: 125%;
    }
}

@media (max-width: 768px) {
    .container{
        width: 120%;
        height: auto;
    }

    .title {
        font-size: 30px;
        line-height: 120%;
        margin-left: 2%;
    }
}

@media (max-width: 400px) {
    .container{
        width: 130%;
        height: auto;
    }
    .title {
        font-size: 24px;
        line-height: 110%;
    }
}



