*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
}

.title{
    margin-top: 40px;
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 1.2px;
}




@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        font-size: 32px;
        line-height: 120%;
    }

}


@media only screen and (max-width: 767px) {
    .title {
        font-size: 24px;
        line-height: 110%;
    }

}
