* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 96%;
  height: 275px;
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  margin-bottom: 80px;
}

.contactUs {
  width: 50%;
  height: auto;
  display: block;
}

.title {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 50px;
}

.phone {
  width: 649px;
  color: #000;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.socialMedia {
  width: 200px;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 50px;
  height: auto;
  display: block;
}

.contactLogo {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

li a {
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.ourAddress {
  margin-left: 160px;
  display: block;
}

.address:hover,
.address:focus {
  transform: scale(1.1);
  transition-duration: 500ms;
  cursor: pointer;
}
.address {
  width: 564px;
  height: 104px;
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-decoration-line: underline;
}

.workingTime {
  margin-top: 20px;
}

.info {
  width: 181px;
  height: auto;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.time {
  width: 181px;
  height: auto;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  .contactUs {
    width: 100%;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .phone {
    width: 349px;
    font-size: 40px;
  }

  .socialMedia {
    width: 100px;
  }

  .icon {
    width: 30px;
  }

  .contactLogo {
    width: 30px;
    height: 30px;
  }

  li a {
    font-size: 10px;
  }

  .ourAddress {
    margin-top: 5%;
    margin-left: -55%; 
  }
  .workingTime {
  margin-top: 5%;
  margin-left: -2%;
}
}

@media (max-width: 767px) {
  .container {
    padding: 10px; 
  }

  .title {
    font-size: 20px;
    margin-bottom: 20px; 
  }

  .phone {
    font-size: 40px;
  }

  .address {
    font-size: 25px;
  }

  .info {
    font-size: 14px;
  }

  .time {
    font-size: 18px;
  }
  .ourAddress {
    margin-top: 5%;
    margin-left: -55%; 
  }
  .workingTime {
  margin-top: -5%;
  margin-left: -5%;
}
}