.wrapper{
    width: 318px;
    height: 366px;
}

.imgContainer{
    display: flex;
    width: 30%;
    height: 416px;
}
.image {
    width: 300px;
    height: 300px;
    column-gap: 3%;
    
}

.priceContainer{
    width: 248px;
    height: 70px;
    display: inline;
}

.price{

}

.discont_price{

}

.precent{

}