*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container:hover,
.container:focus{
    transform: scale(1.01);
    transition-duration: 500ms;
    cursor: pointer;

}
.container{
    width:300px;
    height: 400px;
    margin-bottom: 10%;
}

.image {
    width: 300px;
    height: 300px; 
    background-position: center;
    object-fit: cover;  
}

.titleImg{
    width: 300px;
    height: auto;
    margin-top: 5%;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 0.54px;
    width: 100%;
    height: auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .container:hover,
    .container:focus {
        transform: scale(1.01);
    }

    .container {
        width: 100%;
        height: auto;
        gap: 10%;
        margin-bottom: 8%;
    }

    .image {
        
        width: 250px;
        height: 250px;
        
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        gap: 10%;
        margin-bottom: 8%;
        gap: 3%;
    }
    .image {
        width: 230px;
        height: 230px;
        
    }
    .titleImg {
        margin-top: 1%;
        font-size: 16px;
        margin-left: -10%;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
        height: 100%;
        margin: 4% auto;
        gap: 3%;
    }
    .image {
        width: 300px;
        height: 300px;
    }
    .titleImg {
        margin-top: 1%;
        font-size: 14px;
    }
}


