*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    margin-top: 5%;

}
h2{
color: #000;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 130%; 
letter-spacing: 1.2px;
}
.store{
    width: 60%;
    margin-left: 48%;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.store span{
    padding-left: 5px;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .store {
        width: 80%; 
        margin-left: 55%;
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .store {
        width: 90%; 
        margin-left: 40%; 
        display: flex;
        gap: 5%;
        font-size: 15px;  
    }
    .store span{
        margin-top: 2%;
    }
    
    h2 {
        font-size: 32px; 
    }
}


@media (max-width: 400px) {
    .store {
        width: 80%; 
        font-size: 20px;
        margin-left: 10%; 
        display: flex;
        gap: 5%;  
    }
    .store span{
        margin-top: 2%;
}
    h2 {
        font-size: 24px;
    }
    .store span {
        display: block; 
        padding-left: 0; 
        font-size: 16px; 
    }
}