
.categoriesContainer{
    width: 100%;
    height: 416px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (min-width: 768px) {
    .categoriesContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .categoriesContainer > * {
        flex-basis: calc(50% - 50px);
        margin-bottom: 44px;
    }
}

@media screen and (min-width: 1440px) {
    .categoriesContainer > * {
        flex-basis: calc(25% - 112px);
        margin-bottom: 56px;
    }
}



