*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inputWrapper {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 2%;
    }

.input {
    width: 90%;
    height: 76px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFF;
    color: #929292;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.54px;
    margin-bottom: 5%;

}

.buttonOrder:hover,
.buttonOrder:focus {
    transform: scale(1.01);
    transition-duration: 500ms;
    cursor: pointer;
}

.buttonOrder{
    max-width: 90%;
    height: 76px;
    margin-left: 2%;
    padding: 2% 45% 2% 35%;
    align-items: flex-start;
    gap: 10px;
    border-radius: 17px;
    background: #393;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.84px;
}
.answer{
    width: 80%;
    height: 105px;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 25.147px;
    border: 2.395px solid #fff;
    background: linear-gradient(223deg, #393 0%, #006300 100%);
    color: #fff;
    font-size: 28.739px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.862px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }


@media only screen and (max-width: 767px)   {
    .input {
        width: 80%;
        height: auto;
        font-size: 14px;
        padding: 10px 20px;
        margin-left: 5%;
    }

    .buttonOrder {
        width: 80%;
        padding: 0% 30% ;
        font-size: 20px;
        margin-left: 8%;
    }

    .answer{
        width: 70%;
        font-size: 18px;

    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .input {
        font-size: 15px;
    }

    .buttonOrder {
        font-size: 15px;
    }
    .answer{
        width: 80%;
        font-size: 15px;
    }
}