*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productContainer{
    position: relative;
    width: 100%;
    height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #a7a7a7;
    display: flex; 

}
.wrapperImageTitleQuantity{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 5%;
    
}
.image{
    width: 192px;
    height: 166px;
    margin-top: 2%;
}

.titleQuantity{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;  
}

.title{
    width:100%;
    height: auto;
    color: #3A3A3A;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 0.54px;
    margin-bottom: 20%;
}

.quantityBlock{
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #958181;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quantity{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 0.54px;

}
.minus, .plus{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 0.54px;

}
.priceBlock{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.price{
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.2px;
}
.dollar{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
}
.discont_price{
    padding-top: 10px;
    color: #8B8B8B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    letter-spacing: 0.6px;
    text-decoration-line:line-through;
}

.button{
    position: absolute;
    left:100%;
    border: none;
    background:none;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .productContainer {
        position: relative;
        width: 130%;
        height: auto;

    }
    .wrapperImageTitleQuantity{
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 5%;
        
    }

    .image {
        width: 100%;
        height: auto;
        margin-top: 5%;
    }
    
    .titleQuantity{
        min-width: 90%;
        height:auto;
        display: block; 
    }

    .title{
        width:90%;
        height: auto;
        color: #3A3A3A;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%; 
        letter-spacing: 0,25px;
        margin-bottom: 70%;
    }

    .quantityBlock{
        width: 80px;
        height: 20px;
        margin-left: 2%;
        border-radius: 12px;
        border: 1px solid #958181;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .quantity{
        color: #000;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 70%; 
        letter-spacing: 0.54px;

    }
.minus, .plus{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 70%; 
    letter-spacing: 0.54px;

}
.priceBlock{
    margin-top: 5%;
    margin-left: 30%;
}

.price{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 70%;
    letter-spacing: 1.2px;
    
}

.dollar{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 70%;
    letter-spacing: 0.6px;
}
.discont_price{
    color: #8B8B8B;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 250;
    line-height: 70%; 
    letter-spacing: 0.6px;
    text-decoration-line:line-through;
}

.button{
    position: absolute;
    left:100%;
    border: none;
    background:none;
}

}

@media screen and (max-width: 768px) {
        .productContainer {
        position: relative;
        width: 130%;
        height: auto;   
    }

    .wrapperImageTitleQuantity {
        width: 100%;
        height: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .image {
        width: 80%;
        height: auto;
        margin-top: 0;
    }

    
    .titleQuantity{
        min-width: 100%;
        height: auto;
        display: block; 
    }

    .title{
        width:100%;
        height: auto;
        color: #3A3A3A;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 200;
        line-height: 150%; 
        letter-spacing: 1px;
        margin-bottom: 30%;
    }

    .quantityBlock{
        width: 40%;
        height: auto;
        margin-left: 2%;
        display: flex;
        padding: 2% 2%;

    }

    .quantity{
        color: #000;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 70%; 
        letter-spacing: 0.54px;
        text-align: center;
    }
.minus, .plus{
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 70%; 
    letter-spacing: 0.54px;

}
.priceBlock{
    width: 100%;
    margin-top: 2%;
    
}

.price{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 60%;
    letter-spacing: 1.2px;
    
}
.dollar{
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 70%;
    letter-spacing: 0.6px;
}
.discont_price{
color: #8B8B8B;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 250;
line-height: 70%; 
letter-spacing: 0.6px;
text-decoration-line:line-through;
}

.button{ 
    position: absolute;
    left:100%;
    border: none;
    background:none;
}

}

@media screen and (max-width: 400px) {
    .productContainer {
        width: 100%;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }

    .wrapperImageTitleQuantity {
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        flex-direction: column;

    }

    .image {
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .titleQuantity {
        min-width: 100%;
        height: auto;
        display: block;
    }

    .title {
        width: 100%;
        height: auto;
        font-size: 15px;
        margin-bottom: 10%;
    }

    .quantityBlock {
        width: 50px;
        height: 16px;
        margin-left: 2%;

    }

    .quantity, .minus, .plus {
        font-size: 8px;
    }

    .priceBlock {
        width: 100%;
        margin-top: 0%;
    }

    .price {
        font-size: 12px;
    }

    .dollar {
        font-size: 8px;
    }

    .discont_price {
        font-size: 8px;
    }

    .button {
        position: absolute;
        left: 100%;
        border: none;
        background: none;
    }
}

