.inputWrapper {
    margin-top: -70px;
    width: 100%;
    height: auto;
    }

.input {
width: 446px;
height: 73px;
border-radius: 20px;
border: 1px solid #000;
background: #FFF;
color: #929292;
padding-left: 20px;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 130%;
letter-spacing: 0.54px;
margin-bottom: 20px;

}

.buttonOrder:hover,
.buttonOrder:focus {
transform: scale(1.01);
transition-duration: 500ms;
cursor: pointer;
}
.buttonOrder{

width: 446px;
padding: 20px 185px 20px 143px;
align-items: flex-start;
gap: 10px;
border-radius: 17px;
background: #393;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 130%; 
letter-spacing: 0.84px;
}
.answer{
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 130%; 
letter-spacing: 0.84px;
}
@media only screen and (max-width: 767px) {
    .input {
        font-size: 14px;
    }

    .buttonOrder {
        font-size: 20px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .input {
        font-size: 15px;
    }

    .buttonOrder {
        font-size: 22px;
    }
}