* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 600px;
    margin-top: 65px;
    margin-bottom: 65px;
    background-color: #A1E2EB;
    position: relative;
    z-index: 1;
}

    .wrapper{
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-left: 5%;
    }

.sale{
    color: #FFF;
    font-size: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-left: 0.6%;
}

.season {
    color: #FFF;
    font-size: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 60px;

}

.btnSale:hover,
.btnSale:focus {
    transform: scale(1.1);
    transition-duration: 500ms;
    cursor: pointer;
}

.btnSale {
    width: 155px;
    height: 82px;
    border-radius: 13px;
    background: #FFF;
    border: 2px solid #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700px;
    line-height: 130%;
}

.waterfall {
    position: absolute;
    top: 5%;
    right: 0;
    left: 60%; 
    width: 30%;
    height: auto
}


@media (max-width: 1024px) {
    .container{
        width: 110%;
        height: 400px;
    }
    .wrapper {
        width: 100%;
        margin-left: 30px;
        
    }

    .sale {
        font-size: 60px;
        margin-top: 5%;
    }

    .season {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .btnSale {
        font-size: 20px;
    }
    .waterfall {
        width: 40%;
        height: 60%;
        margin-top: 3%;
        
    }
}


@media (max-width: 768px) {
    .container {
        width: 135%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sale {
        font-size: 30px;
        margin-left: 0%;
        margin-top: 5%;
    }

    .season {
        font-size: 30px;
        margin-bottom: 20px;
        margin-left: -1%;
    }

    .btnSale {
        font-size: 16px;
        width: 110px;
        height: 60px;
        margin-left: 0%;
        margin-bottom: 10%;
    }

    .waterfall {
        width: 40%;
        margin-left: 0%;
        margin-top: 5%;
    }
}



@media (max-width: 400px) {
    .container {
        width: 130%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-image: url(../../Images/Garden.jpg);
        background-size: cover;
    }
    .sale {
        font-size: 30px;
        margin-top: 3%;
        margin-left: -7%;
    }

    .season {
        font-size: 30px;
        margin-bottom: 20px;
        margin-left: -10%;
    }

    .btnSale {
        font-size: 16px;
        width: 110px;
        height: 60px;
        margin-left: -7%;
        margin-bottom: 3%;
    }

    .waterfall {
    display: none;
    }
}
