    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .inputForm {
        width: 70%;
        height: auto;
    }

    .inputWrapper {
        margin-bottom: 30px;
    }

    .input {
        width: 100%;
        border: none;
        border-radius: 25px;
        background: #FFF;
        padding: 27px 50px;
        padding-right: 0;
        color: #6C6C6C;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 600;
    }

    .form {
        margin-right: 256px;
    }

    
    .button:hover,
    .button:focus {
        transform: scale(1.1);
        transition-duration: 500ms;
        cursor: pointer;
    }

    .button {
        width: 100%;
        height: 75px;
        border-radius: 25.147px;
        border: 2.395px solid #FFF;
        background: linear-gradient(223deg, #393 0%, #006300 100%);
        color: #FFF;
        font-size: 28.739px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.862px;
        cursor: pointer;
    }

    .answer{
        width: 100%;
        height: 105px;
        border-radius: 25.147px;
        border: 2.395px solid #fff;
        background: linear-gradient(223deg, #393 0%, #006300 100%);
        color: #fff;
        font-size: 28.739px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.862px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    

    @media (max-width: 1024px) {


    .inputForm {
        width: 80%;
        margin-left: 0;
        margin-right: 0;
    }

    .input {
        width: 100%;
        padding: 15px 30px;
        font-size: 16px;
    }

    .button:hover,
    .button:focus {
    transform: scale(1.1);
    transition-duration: 500ms;
    cursor: pointer;
    }
    .button {
        width: 100%;
        height: 60px;
        font-size: 24px;
    }
    }



    @media (max-width: 768px) {


    .input {
        padding: 10px 20px;
        font-size: 14px;
    }

    .button {
        height: 50px;
        font-size: 20px;
    }
    }
    
    @media (max-width: 400px) {


    .input {
        margin-top: -10%;
        padding: 10px 20px;
        font-size: 14px;
    }

    .button {
        height: 50px;
        font-size: 20px;
        margin-top: -8%;
        margin-bottom: 3%;
    }
    }