.byCategoryContainer{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.wapper{
    width: 96%;
    height: auto;
}
.categoriesWrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}

    @media (max-width: 1024px) {

    .byCategoryContainer{
        width: 80%;
        height: auto;
        margin-top: 8px;
        margin-left: 1120px;
    }

    .categoriesWrapper {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: -1090px;
    }
    }

@media screen and (max-width: 767px) {


    .byCategoryContainer{
        width: 70%;
        height: auto;
        margin-top: 5px;
        margin-left: 1020px;
}
    .categoriesWrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: -950px;
    }
}