.byCategoryContainer{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.container{
    margin-top: 40px;
}
.wapper{

    width: 96%;
    height: auto;
}
.categoriesWrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    @media screen and (min-width: 768px) {
    .categoriesWrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 44px 56px;
    }
    }

@media screen and (max-width: 767px) {
    .categoriesWrapper {
        margin-top: 50px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}