*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.categoriesContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
@media (max-width: 1024px) and (max-width: 768px) {
    .categoriesContainer { 
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .categoriesContainer { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 400px) {
    .categoriesContainer { 
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
