*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.categoriesContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8%;

}
@media (max-width: 1024px) and (max-width: 768px) {
    .categoriesContainer { 
        width: 135%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:3%;
    }
}

@media (max-width: 768px) {
    .categoriesContainer { 
        width: 130%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
        margin-left: 5%;
    }
}


@media (max-width: 400px) {
    .categoriesContainer { 
        width: 130%;
        height: auto;
        margin-left: 15%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3%;
    }
}
