
.container{
width: 96%;
height: auto;
display: flex;
}
.empty{
    width: 100%;
    height: auto;
    display: block;
}

.basket {
    width: 180px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: rotateY(180deg);
}


.orderBox{
width: 53%;
height: 393px;
margin-top: 2%;
margin-left: -41%;
border-radius: 21px;
border: 2px solid #000;
margin-bottom: 20px;
}
.margin{
margin-left: 25px;
}
.totalPrice{
width: 600px;
height: auto;
display: flex;
justify-content: space-between;

}

h5{
width: 152px;
height: 31px;
color: #000;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
letter-spacing: 0.72px;
}

.price{
margin-left: 50px;
color: #000;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 130%; 
letter-spacing: 0.96px;
}
.dollar{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
}
.buttonWrapper{
width: 86%;
height: auto;
border-top: 1px solid #a7a7a7;
margin-top: 20px;
}
.button {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 250px;
    height:40px;
    border-radius: 17px;
    border: 1px solid #393;
    background: #393;
    border-color: none; 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    line-height: 50%;
    letter-spacing: 0.84px;
}
