*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
width: 96%;
height: auto;
display: flex;
}
.empty{
    width: 100%;
    height: auto;
    display: block;
}

.basket{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.orderBox{
width: 58%;
height: 393px;
margin-left: -10px;
border-radius: 21px;
border: 2px solid #000;
margin-bottom: 20px;
}
.margin{
margin-left: 25px;
}
.totalPrice{
width: 600px;
height: auto;
display: flex;
justify-content: space-between;

}

h5{
width: 152px;
height: 31px;
color: #000;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
letter-spacing: 0.72px;
}

.price{
margin-left: 50px;
color: #000;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 130%; 
letter-spacing: 0.96px;
}

.buttonWrapper{
width: 81%;
height: auto;
border-top: 1px solid #a7a7a7;
margin-top: 20px;
}
.button {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 17px;
    border: 1px solid #393;
    background: #393;
    border-color: none; 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.84px;
}
